<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8PLPHEQBGX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8PLPHEQBGX');
  </script>
  <meta charset="utf-8">
  <meta name="description" content="Self developed, hosted and authored software engineering blog by Coşkun Bıdıcı">
  <meta name="keywords" content="Software Engineering Blog, Blog, Portfolio">
  <meta name="author" content="Coşkun Bıdıcı">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Coşkun Bıdıcı's Sandbox</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="/images/favicon.svg">
  <style>
    body {
      background-color:rgb(250, 250, 250)
    }

    * {
      -webkit-border-radius: 0.200rem !important;
         -moz-border-radius: 0.200rem !important;
              border-radius: 0.200rem !important;
    }

    .svg_logo{
      width: 1.6em;
      height: 1.6em;
      display: inline-block;
      vertical-align: -0.48em;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(/images/logo.svg);
    }
  </style>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg sticky-top shadow-sm p-3 mb-3 bg-white">
    <div class="container-sm">
      <a class="navbar-brand" href="/"><i class="svg_logo"></i> Coşkun Bıdıcı's Sandbox</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
        <div class="d-flex">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a>
              <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <button type="submit" class="nav-link">Logout</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-sm">
    <div layout:fragment="content"></div>
  </div>
</div>
<script async src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
