<!DOCTYPE html>
<html layout:decorate="~{base}">
<head>
  <title>Create New Post</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Create New Post</h1>
  <form th:action="@{/post/create}" th:object="${post}" method="post">
    <label for="title">Title:</label>
    <input type="text" th:field="*{title}" id="title"><br>
    <label for="content">Content:</label><br>
    <textarea th:field="*{content}" id="content"></textarea><br>
    <label for="status">Status:</label><br>
    <select id="status" th:field="*{status}">
      <option th:each="statusOpt : ${T(com.cbidici.site.entity.Status).values()}"
              th:value="${statusOpt}" th:text="${statusOpt.name}"></option>
    </select><br>
    <button type="submit">Save</button>
  </form>
  <a th:href="@{/}">Back to Home</a>
</div>
</body>
</html>
