<!DOCTYPE html>
<html layout:decorate="~{base}">
<head>
  <title>Login</title>
</head>
<body>
<div layout:fragment="content" class="d-flex justify-content-center">
  <div class="mt-5" style="max-width:480px">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
      <div class="row mb-2">
        <div class="col-sm-12">
          <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-sm-12">
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
      </div>
      <div th:if="${param.error}">
        <p style="color:red;">Invalid username or password</p>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
</body>
</html>
