<!DOCTYPE html>
<html layout:decorate="~{base}">
<head>
  <title th:text="${post.title}">Post Title</title>
</head>
<body>
<div layout:fragment="content">
  <section class="mb-3">
    <a class="link-primary" th:href="@{/posts}">Back to Posts</a>
    <span sec:authorize="hasRole('ADMIN')"> |
      <a class="link-primary" th:href="@{/posts/{id}/update(id=${post.id})}">Edit</a> |
      <a class="link-primary" th:if="${post.status.equals('CREATED') || post.status.equals('WITHDRAWN')}" th:href="@{/posts/{id}/publish(id=${post.id})}">Publish</a>
      <a class="link-primary" th:if="${post.status.equals('PUBLISHED')}" th:href="@{/posts/{id}/withdraw(id=${post.id})}">Withdraw</a> |
      <a class="link-primary" th:href="@{/posts/{id}/delete(id=${post.id})}" onclick="return confirm('Are you sure you want to delete this post?')">Delete</a>
    </span>
  </section>
  <section class="mb-3">
    <h1 th:text="${post.title}">Post Title</h1>
    <div class="post-content" th:utext="${post.content}"></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
  </section>
</div>
</body>
</html>
