<!DOCTYPE html>
<html layout:decorate="~{base}">
<head>
  <title>Create New Post</title>
</head>
<body>
<div layout:fragment="content">
  <section class="mb-3">
    <a class="link-primary" th:href="@{/posts}">Back to Posts</a>
  </section>
  <section class="mb-3">
    <h2>Create New Post</h2>
    <form th:action="@{/posts/create}" th:object="${post}" method="post">
      <div class="row mb-2">
        <label for="title" class="col-sm-2 col-form-label">Title:</label>
        <div class="col-sm-10">
          <input type="text" th:field="*{title}" id="title" class="form-control">
        </div>
      </div>
      <div class="row mb-2">
        <label for="content" class="col-sm-2 col-form-label">Content:</label>
        <div class="col-sm-10">
          <textarea rows="16" th:field="*{content}" id="content" class="form-control"></textarea>
        </div>
      </div>
      <fieldset class="row mb-2">
        <legend class="col-form-label col-sm-2 pt-0">Status</legend>
        <div class="col-sm-10">
          <div class="form-check" th:each="statusOpt : ${T(com.cbidici.site.entity.Status).values()}">
            <input class="form-check-input" type="radio" th:field="*{status}" th:id="${statusOpt.name}" th:value="${statusOpt}" checked>
            <label class="form-check-label" th:for="${statusOpt.name}" th:text="${statusOpt.name}">
              Status Name
            </label>
          </div>
        </div>
      </fieldset>
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
  </section>
</div>
</body>
</html>
