<!DOCTYPE html>
<html layout:decorate="~{base}">
<head>
  <title>Coşkun Bıdıcı's Sandbox - Posts</title>
  <link href="/css/posts.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
  <section sec:authorize="hasRole('ADMIN')" class="mb-3">
    <a class="link-primary" th:href="@{/posts/create}">Create New Post</a>
  </section>
  <section class="mb-3">
    <article th:each="post : ${posts}" class="shadow-sm mb-3 p-3 bg-white">
      <a class="card-title text-decoration-none" th:href="@{/posts/{id}(id=${post.id})}">
        <div class="card-body">
          <span class="card-title" th:text="${post.title}">Title</span>
          <p class="card-text">
            <small class="text-body-secondary" th:if="${post.publishedAt != null}" th:text="'Published At ' + ${post.publishedAt}"></small>
            <small class="text-body-secondary" sec:authorize="hasRole('ADMIN')" th:if="${post.publishedAt != null}"> - </small>
            <small class="text-body-secondary" sec:authorize="hasRole('ADMIN')" th:text="'Created At ' + ${post.createdAt}"></small>
            <span class="float-end status-badge badge text-bg-primary" sec:authorize="hasRole('ADMIN')" th:if="${post.status.name().equals('CREATED')}" th:text="${post.status}">C</span>
            <span class="float-end status-badge badge text-bg-success" sec:authorize="hasRole('ADMIN')" th:if="${post.status.name().equals('PUBLISHED')}" th:text="${post.status}">P</span>
            <span class="float-end status-badge badge text-bg-secondary" sec:authorize="hasRole('ADMIN')" th:if="${post.status.name().equals('WITHDRAWN')}" th:text="${post.status}">P</span>
          </p>
        </div>
      </a>
    </article>
  </section>
</div>
</body>
</html>